body {
    font-family: Georgia; color: #444

}


.main-box{
    background-color: #4dbfd9;
    text-align: center;
    margin-top: 10em;
    margin-left: 10em;
    margin-right: 10em;
    padding: 0.5em;
}

.main-content{
    margin-left: 10em;
    margin-right: 10em;
    background-color: #f5f5f5;
}

.section-containter {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    padding: 10px 80px;
    
}

.section-containter-item1 {
    
    min-width: 20%;
}

.section-containter-item2 {
    
}