body {
    font-family: Helvetica Neue, Arial, sans-serif;
}

.background {
    display: inline-block;
    background: #4dbfd9;
    width: 100%;
    height: 190px;
    position: absolute;
    left: 0;
}

.main-box{
    background-color: #4dbfd9;
    text-align: center;
    margin-top: 10em;
    margin-left: 5em;
    margin-right: 5em;
    padding: 0.5em;
}

.main-content{
    margin-left: 5em;
    margin-right: 5em;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}